/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }


/* -------------------------------------------------- */

/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni (telefony)
s pribyvajici sirkou pridavame media query pro...
tablety:
@media (min-width: 480px) {
}
notebook/pc:
@media (min-width: 860px) {
}
*/


body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.paticka {
    text-align: center;
    font-size: 14px;
    color: silver;
}

.paticka a {
    color: silver;
}


/* ------------------------------- */
/* ----- DOLE BUDE TVOJE CSS ----- */
/* ------------------------------- */

.hlavni-recept {
  background-image: url(images/burger.jpg);
  min-height: 200px;
}

.recept2 {
  background-image: url(images/sushi.jpg);
}

.recept3 {
  background-image: url(images/kure.jpg);
}

.recept4 {
  background-image: url(images/rajcata.jpg);
}

.recept5{
  background-image: url(images/grilovani.jpg);
}

h2{
  font-family: 'Raleway', sans-serif;
  font-weight:800;
  color: white;
}

.recept-kategorie, .recept-komentare {
  color:white;
  font-size: 14px;
  font-weight: 400;
}

.hlavni-recept, .recept {
  padding: 10px;
  background-size: cover;
  background-position: center;
  border-bottom: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recept {
  min-height: 90px;
}

.recept-nazev1 {
  font-size: 28px;
}

.recept-nazev {
  font-size: 18px;
}

.recept-meta {
  position: relative;
}

.recept-komentare {
  position: absolute;
  right: 10px;
  top: 0px;
}

@media (min-width: 480px) {
  .hlavni-recept, .recept {
    padding: 20px;
  }

  .hlavni-recept {
    min-height: 250px;
  }

  .recepty {
    display:flex;
    flex:wrap,
  }

  .recept {
    min-height: 150px;
    flex: 1 1 50%;
}

  .recept:nth-child(2n+1) {
    border-right: 1px solid white;
}

  .recept {
    min-height: 150px;
  }

  .recept-nazev1 {
    font-size: 36px;
  }

  .recept-nazev {
    font-size: 22px;
  }
}

@media (min-width: 860px) {
  .doporucujeme{
    display: flex;
  } 

  .hlavni-recept {
    min-height: 400px;
  }

  .recept{
    min-height: 200px;
  }

  .recept-nazev {
    font-size: 28px;
  }

  .recept-nazev1 {
    font-size: 48px;
  }

  .hlavni-recept {
    min-height: 400px;
    flex-basis: 33.3%;
    border-right: 1px solid white;
  }

  .recepty {
    flex-direction: row;
    flex-flow:row wrap;
  }
} 